body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: #FAFAFA;
     
    
}

.sluzby {
    max-width: 500px;
    margin: 0 auto;
    
    
   
}

.popis1 hr {
    width: 60px;
    border: 2px solid #407BFF;

}

.obrazek img {
    margin-top: 35px;
}

.uvod,
.popis1 {
text-align: center;

}

.uvod h1 {
    margin: 40px 0px 10px 0px;
    font-size: 28px;
}

.popis1 p {
    margin: 30px 20px 30px 20px;
    font-size: 16px;
    color: #8B8B8B;
}

.tlacitka {
    display: flex;
    flex-direction: column;
   
    align-items: center;
   
}

.dobrodruzstvi { 
    padding: 10px 0px;
    background-color: #407BFF;
    border-radius: 20px;
    width: 195px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;

}

.pohoda {
    padding: 10px 0px;
    background-color: #8B8B8B;
    border-radius: 20px;
    width: 220px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nabidkasluzeb {
    margin-top: 60px;
    text-align: center;
}

.nabidkasluzeb h2 {
    font-size: 16px;
   

}

.nabidkasluzeb p {
    font-size: 16px;
    color: #8B8B8B;
    padding: 0px 20px;
    margin-bottom: 28px;
}

.bod1,
.bod2,
.bod3 {display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 15px 20px;
    box-shadow: 0px 4px 6px #407BFF1F;
    padding: 20px;
    align-items: center;
      

}

.bod1 p,
.bod2 p,
.bod3 p {
    font-size: 13px;
    margin: 0;
} 

.bod1 img,
.bod2 img,
.bod3 img {
    max-width: 45px;
    margin-top: 0;
}

.nabidkadelegatu {
    margin-top: 60px;
    text-align: center;
}

.nabidkadelegatu h2 {
       font-size: 16px;
}

.nabidkadelegatu p {
    font-size: 16px;
    color: #8B8B8B;
    padding: 0px 20px;
    margin-bottom: 28px;
}


.bod4,
.bod5,
.bod6 {display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 15px 20px;
    box-shadow: 0px 4px 6px #407BFF1F;
    padding: 20px;
    align-items: center;
      

}


.bod4 p,
.bod5 p,
.bod6 p {
    font-size: 13px;
    margin: 0;
} 

.bod4 img,
.bod5 img,
.bod6 img {
    max-width: 45px;
    margin-top: 0;
}

.bod6 {
    margin-bottom: 60px;
}


@media screen and (min-width:640px) {
   .sluzby {
      max-width: 1099px;
      margin: 0;
 
      
    }
    

    .uvod {
        max-width: 550px;
        margin-left: auto; 
        margin-right: auto;
    }

    .popis1 p {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .obrazek img {
        margin-top: 60px;
    }

    .tlacitka {
        flex-direction: row;
        justify-content: center;
    
    }

    .dobrodruzstvi {
        margin-bottom: 0;
        margin-right: 20px;
    }



    .nabidkasluzeb p {
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
        padding: 0 15px;
    }

    .vycet1 {
        display: flex;
   
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .vycet2 {
        display: flex;
        margin-bottom: 60px;
       
        justify-content: center;
         margin-left: 20px;
        margin-right: 20px;
    }
/*
    .nabidkasluzeb {
        margin-left: 20px;
        margin-right: 20px;
    }
*/ 
    .bod1,
    .bod2,
    .bod3 {
        flex: 1 1 calc(100/3);
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 30px 10px;   
    }

    .bod1 {
        margin: 15px 10px 15px 0;
    }

    .bod2 {
         margin: 15px 10px 15px 10px;
    }

    .bod3 {
        margin: 15px 0px 15px 10px;
    }

   
    


    .bod1 p,
    .bod2 p,
    .bod3 p {
        padding: 0;
    } 

    .bod1 img,
    .bod2 img,
    .bod3 img {
        margin: 20px 0;
    }

    .bod1, 
    .bod2 {
        margin-right: 0;
    }
/*
    .bod4,
    .bod5,
    .bod6 {
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 10px 30px 10px;
    }

   */ 
    .bod4,
    .bod5,
    .bod6 {
        flex: 1 1 calc(100/3);
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 30px 10px;   
    }

    .bod4 {
        margin: 15px 10px 15px 0;
    }

    .bod5 {
         margin: 15px 10px 15px 10px;
    }

    .bod6 {
        margin: 15px 0px 15px 10px;
    }



    .bod4 p,
    .bod5 p,
    .bod6 p {
        padding: 0;
    } 

    .bod4 img,
    .bod5 img,
    .bod6 img {
        margin: 20px 0;
    }

    .bod4, 
    .bod5 {
        margin-right: 0;
    }
   

    .nabidkadelegatu p {
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;
        padding: 0 15px;

    }



    }

@media screen and (min-width:1100px) {

    .sluzby {
        max-width: 4000px;
        margin: 0;
    }
    
    .uvod {display: flex;
        margin: 0;
        max-width: 100%;
      
     

    }

    .obrazek {
        order: 2;
        flex: 1 1 50%;
        flex-basis: 50%;
        
        text-align: center;
       
    }

     .obrazek img {
        max-width: 425px;
     }

    .popis1 {
        order: 1;
        flex: 1 1 50%;
        text-align: left;
        margin-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .popis1 hr {
        margin-left: 0px;
    }

    .tlacitka {
        justify-content: flex-start;
    }





}
